{% extends "base.html" %}

{% block page_title %}Lista de Tarefas{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Lista de Tarefas</h1>
        <a href="{% url "todo_create" %}" class="btn btn-primary shadow-sm">+ Nova Tarefa</a>
    </div>

    {% if todo_list %}
        <div class="table-container table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Criado em</th>
                        <th scope="col">Data de entrega</th>
                        <th scope="col">Finalizado em</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todo_list %}
                        <tr>
                            <th scope="row">{{ todo.pk }}</th>
                            <td><strong>{{ todo.title }}</strong></td>
                            <td>{{ todo.created_at }}</td>
                            <td>{{ todo.deadline }}</td>
                            <td>
                                {% if todo.finished_at %}
                                    {{ todo.finished_at }}
                                {% else %}
                                    <span class="text-muted">-</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <div class="d-flex gap-2 justify-content-center">
                                    {% if not todo.finished_at %}
                                        <a href={% url "todo_complete" pk=todo.pk %} class="btn btn-primary btn-sm">Concluir</a>
                                        <a href={% url "todo_update" pk=todo.pk %} class="btn btn-second btn-sm">Atualizar</a>
                                    {% endif %}
                                    <a href={% url "todo_delete" pk=todo.pk %} class="btn btn-danger btn-sm">Excluir</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="empty-state">
            <h5 class="mb-0">Nenhuma tarefa cadastrada no momento.</h5>
            <p class="text-muted mt-2">Aproveite a tranquilidade do lago!</p>
        </div>
    {% endif %}
{% endblock content %}   